@pastel-red: #ffb3ba;
@pastel-orange: #ffd2b3;
@pastel-yellow: 	#fff8b3;
@pastel-green: #baffb3;
@pastel-blue: #bae1ff;
@pastel-violet: #baa2e8;

@rainbow-colors: @pastel-red, @pastel-orange, @pastel-yellow, @pastel-green, @pastel-blue, @pastel-violet;

.backgrounds(@list, @i: 1) when (@i <= length(@rainbow-colors)) {
  // extract the right color from the list
  @color: extract(@list, @i);

  // apply the background to the selector
  .list-tree li.list-nested-item > .list-item {
    color: @color;
    content: calc(@i - 1);
  }

  // recursive call for the next color
  .backgrounds(@list, @i + 1);
}

// .backgrounds(@rainbow-colors);

// .list-group li.list-nested-item.selected > .list-item,
// .list-group li.list-nested-item > .list-item,
// .list-group li:not(.list-nested-item).selected,
// .list-group li:not(.list-nested-item),
// .list-tree li.list-nested-item.selected.status-ignored > .list-item,
.list-tree li.list-nested-item > .list-item,
// .list-tree li:not(.list-nested-item).selected,
// .list-tree li:not(.list-nested-item)
{
    color: @pastel-red;
}
.contentresult(@string, @count) when (@count = 1) {
    @return: @string;
}

.repeater(@item, @count, @string: "") when (@count > 0) {
    .repeater(@item, (@count - 1), "@{string}@{item}");
    .contentresult("@{string}@{item}", @count);
}

@name: return;
.repeater(@name, 'li.list-nested-item ', 2);
@smeg-2: ~'@{name}';

.list-tree li.list-nested-item li.list-nested-item > .list-item
{
    color: @pastel-yellow;
}

@what: return;
.repeater(@what, 'li.list-nested-item ', 3);
@smeg-3: ~'@@{what}';

.list-tree li.list-nested-item li.list-nested-item li.list-nested-item > .list-item
{
    color: @pastel-orange;
}

@hm: return;
.repeater(@hm, 'li.list-nested-item ', 4);
@smeg-4: ~'@@{hm}';

.list-tree li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item > .list-item
{
    color: @pastel-green;
}

.list-tree li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item > .list-item
{
    color: @pastel-blue;
}

.list-tree li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item > .list-item
{
    color: @pastel-violet;
}
