@pastel-red: #ffb3ba;
@pastel-orange: #ffd2b3;
@pastel-yellow: #fff8b3;
@pastel-green: #baffb3;
@pastel-blue: #bae1ff;
@pastel-violet: #baa2e8;
@rainbow-colors: @pastel-red, @pastel-orange, @pastel-yellow, @pastel-green, @pastel-blue, @pastel-violet;

.list-tree li.list-nested-item > .list-item {
    color: @pastel-red;
}

// This is a recursively called mixin. It mimics a loop construct for Less.
// Within the loop, we do two things:
// 1) Extract the colour at that index from the colour list to use.
// 2) Add another class to our repeated class selector.
// Both these variables are output to create a new class and colour style.
.generate-rainbow(@list, @i: 0, @totalTimes: length(@list), @string, @repeated: @string) when (@i <= @totalTimes) {
    @extractMod: mod(@i, length(@list)) + 1;
    @rainbow: extract(@list, @extractMod);
    @selector: ~'@{repeated}';
    .list-tree @{selector} > .list-item {
        color: @rainbow;
    }
    .list-tree @{selector} > .list-item  ~ .list-tree .name {
        color: @rainbow;
    }
    .generate-rainbow(@list, (@i + 1), @totalTimes, @string, "@{string}@{repeated}");
}

.generate-rainbow(@rainbow-colors, 0, 12, "li.list-nested-item ", "li.list-nested-item li.list-nested-item ");

// .list-tree li.list-nested-item li.list-nested-item > .list-item {
//     color: @pastel-yellow;
// }
//
// .list-tree li.list-nested-item li.list-nested-item li.list-nested-item > .list-item {
//     color: @pastel-orange;
// }
//
// .list-tree li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item > .list-item {
//     color: @pastel-green;
// }
//
// .list-tree li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item > .list-item {
//     color: @pastel-blue;
// }
//
// .list-tree li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item li.list-nested-item > .list-item {
//     color: @pastel-violet;
// }